.breadcrumb-wrapper {
	font-size: 12px;
	line-height: 30px;
}

.breadcrumb-wrapper > .nav-switcher-wrapper:hover,
.breadcrumb-wrapper > .color-scheme-switcher:hover {
	background-color: #f7f7f7;
}

.breadcrumb-wrapper > .nav-switcher-wrapper {
	float: left;
	width: 30px;
	height: 100%;
	border-right: 1px solid #bbb;
	cursor: pointer;
}

.breadcrumb-wrapper .nav-switcher {
	position: relative;
	width: 15px;
	height: 15px;
	margin: 7.5px auto;
}

.breadcrumb-wrapper .nav-switcher > .center-bar,
.breadcrumb-wrapper .nav-switcher:before,
.breadcrumb-wrapper .nav-switcher:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 20%;
}

.breadcrumb-wrapper .nav-switcher > .center-bar {
	top: 40%;
}
.breadcrumb-wrapper .nav-switcher:before,
.breadcrumb-wrapper .nav-switcher:after {
	content: "";
	-webkit-transform-origin: center right;
	    -ms-transform-origin: center right;
	        transform-origin: center right;
}
.breadcrumb-wrapper .nav-switcher:before {
	top: 0;
}
.breadcrumb-wrapper .nav-switcher:after {
	bottom: 0;
}

body.nav-expand .breadcrumb-wrapper .nav-switcher {
	-webkit-transform: rotate(-180deg);
	    -ms-transform: rotate(-180deg);
	        transform: rotate(-180deg);
}
body.nav-expand .breadcrumb-wrapper .nav-switcher:before {
	-webkit-transform: translateY(6.768px) rotate(45deg) scaleX(0.707);
	    -ms-transform: translateY(6.768px) rotate(45deg) scaleX(0.707);
	        transform: translateY(6.768px) rotate(45deg) scaleX(0.707);
}
body.nav-expand .breadcrumb-wrapper .nav-switcher:after {
	-webkit-transform: translateY(-6.768px) rotate(-45deg) scaleX(0.707);
	    -ms-transform: translateY(-6.768px) rotate(-45deg) scaleX(0.707);
	        transform: translateY(-6.768px) rotate(-45deg) scaleX(0.707);
}

.breadcrumb-wrapper .nav-switcher,
.breadcrumb-wrapper .nav-switcher > .center-bar,
.breadcrumb-wrapper .nav-switcher:before,
.breadcrumb-wrapper .nav-switcher:after {
	-webkit-transition-property: -webkit-transform,background-color;
	        transition-property:         transform,background-color;
}

.breadcrumb-wrapper .fullscreen-wrapper {
	float: right;
	width: 30px;
	border-left: 1px solid #bbb;
	cursor: pointer;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
}
.breadcrumb-wrapper .fullscreen-wrapper:hover {
	background-color: white;
}

.breadcrumb-wrapper > .breadcrumb {
	float: left;
	overflow: hidden;
	max-width: calc(100% - 150px);
	height: 30px;
	margin-left: 5px;
	color: #666;
}
.breadcrumb-wrapper > .breadcrumb > li {
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	cursor: pointer;
}
.breadcrumb-wrapper > .breadcrumb > li.fa:before {
	line-height: 30px;
}
.breadcrumb-wrapper > .breadcrumb > li.separator:before {
	content: ">";
}

.color-scheme-switcher {
	position: relative;
	float: right;
	border-left: 1px solid #bbb;
}

.color-scheme-switcher > a {
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	color: #666;
}
.color-scheme-switcher > a > span {
	vertical-align: middle;
	font-size: 16px;
	line-height: 30px;
	color: black;
}

.color-scheme-switcher > ul {
	position: absolute;
	z-index: 10000;
	top: 100%;
	right: 0;
	display: none;
	padding: 5px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.color-scheme-switcher.open > ul {
	display: block;
}

.color-scheme-switcher > ul > li {
	width: 80px;
	padding: 2px;
	line-height: 20px;
}

.color-scheme-switcher > ul > li > a {
	display: block;
	padding: 2px 10px;
	color: #444;
}
.color-scheme-switcher > ul > li > a:hover {
	background-color: #333;
	color: white;
}